<html>

  <head>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>

  <body>

    <table id="preftable">
      <tr>
        <th>Faculty</th>
        <th>Course 1</th>
        <th>Course 2</th>
        <th>Course 3</th>
      </tr>
        <% @all_faculty.each do |key,val| %>
      <tr>
        <td><%= val[:faculty_name] %></td>
        <td><%= val[:course1] %></td>
        <td><%= val[:course2] %></td>
        <td><%= val[:course3] %></td>
      </tr>
      <% end %>
    </table>

  </body>

</html>
