= form_tag update_course_assignment_path, :method => :put, :remote => true do
  = hidden_field_tag :faculty_id, course_assignment.faculty_id
  = hidden_field_tag :course_id, course_assignment.course_id, :class => "course"
  = content_tag(:label,courses[course_assignment.course_id],{:id => "course_#{course_assignment.course_id}"})
  %br
  = select_tag "building_select_#{course_assignment.course_id}", options_from_collection_for_select(buildings,"id","building_name",assigned_buildings[course_assignment.course_id]), :include_blank => true, :class => "building_select"
  = select_tag "room_select_#{course_assignment.course_id}", nil, :class => "room_select"
  = select_tag "day_combination_select_#{course_assignment.course_id}", nil, :class => "day_combination_select"
  = select_tag "time_slot_select_#{course_assignment.course_id}"
  = submit_tag "Submit", :id => "submit_#{course_assignment.course_id}"
%br
%br
