<html>
<head>
 <%= javascript_include_tag "application" %>
 <%= stylesheet_link_tag 'application' %>
 <%= yield(:head) %>
</head>
<body>
  <h1 align = center >Classroom Assignment</h1>
  <div id ="wrapper">
    <div id ="section">
      <h2>Allocate Classrooms and TimeSlots</h2>
      <%= form_for :class, url: class_index_path do |f| %>
      <p>
        <%= f.label "Choose Building Name:" %>
        <%= f.select :buildings_id , options_for_select(@building.collect { |building| [building.building_name, building.id] }, 1), {}, { id: 'building_select', class: "input-sm"} %>
      </p>
      <p>
        <%= f.label "Choose Room Number:" %>
         <%= f.select :rooms_id, options_for_select(@room.collect { |room| [room.room_name, room.id] }, 0), {}, { id: 'room_select', class: "input-sm" } %>
         <%= f.label "Room Capacity" %>
         <%= f.text_field :room_capacity , readonly: true , :size => 5%> 
      </p> 
       <p>
        <%= f.label "Choose Day combo:" %>
        <%= f.select :day_combinations_id , options_for_select(@day_combination.collect { |day_combination| [day_combination.day_combination, day_combination.id] }, 1), {}, { id: 'day_combination_select' , class: "input-sm"} %>
      </p>
      <p>
        <%= f.label "Choose Time Slot:" %>
        <%= f.select :timeslots_id , options_for_select(@timeslot.collect { |timeslot| [timeslot.time_slot, timeslot.id] }, 1), {}, { id: 'timeslot_select' , class: "input-sm"} %>
      </p>
      <p>
        <%= f.submit "Submit" ,class: "btn btn-primary"%>
      </p> 
      <% end %>
      <h2> ____________________________</h2> 

      <h2>Add New Classrooms</h2>

      <%= form_for :class , method: :get, url: new_class_path do |f| %>
      <p>
        <%= f.label "Building Name:" %>
        <%= f.text_field :building_name %>
      </p>
      <p>
        <%= f.label "Room Number:" %>
        <%= f.text_field :room_name %>
      </p>
       <p>
        <%= f.label "Room Capacity:" %>
        <input type="text" name="class[room_capacity]" id="classroomcapacity"/>&nbsp;<span id="capacityerrmsg"></span>
      </p>
      <%= f.submit "Add New Class",class:"btn btn-primary" %>
      <% end %>

    </div>
    <div id="rightsection" class="jumbotron">
      <h2 align="center">List of Classroom and Slot Assigned</h2>
      <% if @showClassroomDetails.empty? %>
         <h3 align="center"> No Classroom Assigned </h2>
       <% else %>
       <div class="scrollit">
      <table id="classtable" class="table table-bordered">
        <tr>
          <th>Index</th>
          <th>Building Name</th>
          <th>Room Name</th>
          <th>Capacity</th>
          <th>Slot</th>
          <th>DayCombo</th>
          <th>Delete</th>
        </tr>
        <% id = 0 %>
        <% @showClassroomDetails.each do |key,val| %>
        <% @room= val[:room]
           @timeslot = val[:timeslot]
           @building = val[:building]
           @day_combination = val[:day_combination] %>
        <tr>
          <td><%=id = id+1 %></td>
          <td><%= @building.building_name %></td>
          <td><%= @room.room_name %></td>
          <td><%= @room.Capacity %></td>
          <td><%= @timeslot.time_slot %></td>
          <td><%= @day_combination.day_combination %></td>
          <td><%= button_to 'Delete', class_path(key), :method => :delete, class: "btn btn-primary",:confirm => 'Are you sure?' %></td>
        </tr>
        <% end %>
      </table>
      </div>
    <% end %>
    </div>
  </div>
</body>
</html>
