<h1>Conflict Checker</h1>
<p>The following list shows groups of courses and preference combinations as per your inputs for Day-Combo, Time-slot and/or Building:</p>

<table>
  <thead>
    <tr>
      <th>Faculty Name</th>
      <th>Course Name</th>
      <th>Course Title</th>
      <th>Building</th>
      <th>Note</th>
      <th>Preference #</th>
      <th>Assigned?</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @conflicts.each do |conflict| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= conflict[0] %></td>
        <td><%= conflict[1] %></td>
        <td><%= conflict[2] %></td>
        <td><%= conflict[3] %></td>
        <td><%= conflict[4] %></td>
        <td><%= conflict[5] %></td>
        <td><%= conflict[6] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>

