<h1 align="center">Conflict Checker</h1>
<div class="note-image">
<p id="note">Note : The following list shows groups of courses and preference combinations as per your inputs for Day-Combo, Time-slot and/or Building:</p>
<img class="img-responsive" src=<%= asset_path('conflict-at-work.jpg') %> alt="" height="120" width="120">
</div>
<div style="background:#40E0D0 !important" class="jumbotron">
<%= form_for :conflict_checker, url: conflict_checker_index_path do |f| %>

<%= f.label "Choose Day combo:" %> <%= f.select :day_combinations_id , options_for_select(@dayCombos.collect { |day_combination| [day_combination.day_combination, day_combination.id] }, @day_row_id), {}, { id: 'day_combination_select' , class: "input-sm"} %>

<%= f.label "Choose Time Slot:" %> <%= f.select :timeslots_id , options_for_select(@timeSlots.collect { |timeslot| [timeslot.time_slot, timeslot.id] }, @time_slot_row_id), {}, { id: 'timeslot_select' , class: "input-sm"} %>

<%= f.label "Choose Building Name:" %> <%= f.select :buildings_id , options_for_select(@buildings.collect { |building| [building[1], building[0]] }, @building_row_id), {}, { id: 'building_select', class: "input-sm"} %>

<%= f.submit "Submit" ,class: "btn btn-primary"%>
<% end %> 
</div>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>Faculty Name</th>
      <th>Course Name</th>
      <th>Course Title</th>
      <th>Building</th>
      <th>Note</th>
      <th>Preference #</th>
      <th>Assigned?</th>
    </tr>
  </thead>
 
  <tbody>
    <% @conflicts.each do |conflict| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= conflict[0] %></td>
        <td><%= conflict[1] %></td>
        <td><%= conflict[2] %></td>
        <td><%= conflict[3] %></td>
        <td><%= conflict[4] %></td>
        <td><%= conflict[5] %></td>
        <td><%= conflict[6] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>

