<h1>Conflict Checker</h1>
<p>The following list shows groups of courses that had the same preference # 1 combination chosen by multiple faculty:</p>

<table>
  <thead>
    <tr>
      <th>Faculty Name</th>
      <th>Course Name</th>
      <th>Course Title</th>
      <th>Time Slot</th>
      <th>Note</th>
      <th>Preference Number</th>
      <th>Already Assigned</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @conflicts.each do |conflict| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= conflict[0] %></td>
        <td><%= conflict[1] %></td>
        <td><%= conflict[2] %></td>
        <td><%= conflict[3] %></td>
        <td><%= conflict[4] %></td>
        <td><%= conflict[5] %></td>
        <td><%= conflict[6] %></td>
        <td><%= conflict[7] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>

