<!DOCTYPE html>
<html>
  <head>
    <title>Course Assignment System</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
      <script src="../../assets/jquery-1.4.4.min.js" type="text/javascript"></script>
    <script src="../../assets/jquery-ui-1.8.10.custom.min.js" type="text/javascript"></script>
    <script src="../../assets/jquery-stickynotes.js" type="text/javascript"></script>
    <link href="../../assets/jquery-ui-1.8.10.custom.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../../assets/stickyNote.css.erb" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Home", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
          <li>
           <div id="sticky_notes"></div>
           <script>
            $(function() {
              $("#sticky_notes").addStickyNotes({colors: ['#FDFB8C', '#FF99CC'], top: '120', left: '120', width: '200', height: '200'})
                   })
            </script>
            </li>
            <li><%= link_to "Howdy",   'https://howdy.tamu.edu/' %></li>
            <li><%= link_to "Preference Summary",   pref_summary_index_path %></li>
            <li><%= link_to "Assignment Summary",   faculty_courses_path %></li>
            <li><%= link_to "Add Faculty",          addfaculty_path %></li>
            <li><%= link_to "Add Classroom",        class_index_path %></li> 
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <div align='center' class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
